/* 폰트 */
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/fonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "NotoSansKR-Regular", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
ul,
ol,
li {
  list-style-type: none;
}
button {
  border: none;
  cursor: pointer;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-height: calc(100vh - 60px);
}

#logo a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #wrapper {
    min-width: initial;
  }
}
